{% extends '../../base.html' %}

{% block content %}

<div class="bg-[#1764bd] h-[150px] flex items-center justify-center">
  <h2 class="text-center text-[34px] text-white font-semibold">Documents & Files</h2>
</div>

<div class="flex flex-col justify-center items-center my-10">

    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Sl No.
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Name of the documents
                </th>
                 <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  View/Download
                </th>
             
                <!-- <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">View/Download</span>
                </th> -->
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 ">
                {% for doc in docs %}
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                       <!-- serialNo -->
                      </div>
                      <div class="text-sm text-gray-500 hidden">
                        jane.cooper@example.com
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">{{doc.name}}</div>
                  <div class="text-sm text-gray-500 hidden">Optimization</div>
                </td>
              
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                  <a href="{{doc.pdf_file.url}}" class="text-indigo-600 hover:text-indigo-900 text-[20px]"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


{% endblock %}