

<div class="h-full w-screen my-[20px] mx-[10px]">
    <h2 class="w-full text-[34px] font-bold text-center pb-10">Events & News</h2>
    <div class="relative flex flex-row">
        <div class="">  
            <div class="relative bg-[url('../../../media/media/event2.jpg')] bg-cover h-[450px] w-[600px] ">
                <div class="h-full w-full flex  flex-col justify-center p-10 absolute top-0 right-0 bottom-0 left-0 bg-[#0000006e] hover:bg-gradient-to-l from-[#a456f70a]  to-[#ff009041]">
                    <h3 class="text-[28px] font-semibold text-white">How Our Student Has Been Working Hard on Their Assignment for Their Final Exam- 2021</h3>
                    <div class="absolute bottom-0 left-0 bg-[#abb618] p-2">14th Sep 2021</div>
                </div>
            </div>
        </div>
        <div class="absolute top-[16%] left-[35%]">  
            <div class="relative bg-[url('../../../media/media/event1.jpg')] bg-cover h-[300px] w-[300px] border-[5px] border-[white]">
                <div class="h-full w-full flex  flex-col justify-center p-10 absolute top-0 right-0 bottom-0 left-0 bg-[#0000006e] hover:bg-gradient-to-l from-[#a456f70a]  to-[#ff009041]">
                    <h3 class="text-[20px] font-semibold text-white">Independence Day Celebration and How It Has Been Celebrated</h3>
                    <div class="absolute bottom-0 left-0 bg-[#abb618] p-2">14th Sep 2021</div>
                </div>
            </div>
        </div>
        <div class="absolute top-[5%] left-[53%] z-10">  
            <div class="relative bg-[url('../../../media/media/event3.jpg')] bg-cover h-[300px] w-[300px] border-[5px] border-[white]">
                <div class="h-full w-full flex  flex-col justify-center p-10 absolute top-0 right-0 bottom-0 left-0 bg-[#0000006e] hover:bg-gradient-to-l from-[#a456f70a]  to-[#ff009041]">
                    <h3 class="text-[20px] font-semibold text-white">Established Day 2019</h3>
                    <div class="absolute bottom-0 left-0 bg-[#abb618] p-2">14th Sep 2021</div>
                </div>
            </div>
        </div>
        <div class="absolute top-[20%] left-[64%] z-0">  
            <div class="relative bg-[url('../../../media/media/event5.jpg')] bg-cover h-[350px] w-[350px] border-[5px] border-[white]">
                <div class="h-full w-full flex  flex-col justify-center p-10 absolute top-0 right-0 bottom-0 left-0 bg-[#0000006e] hover:bg-gradient-to-l from-[#a456f70a]  to-[#ff009041]">
                    <h3 class="text-[20px] font-semibold text-white">Established Day 2019</h3>
                    <div class="absolute bottom-0 left-0 bg-[#abb618] p-2">14th Sep 2021</div>
                </div>
            </div>
        </div>
        <div class="absolute top-[15%] right-0 z-10">  
            <div class="relative bg-[url('../../../media/media/event4.jpg')] bg-cover h-[220px] w-[220px] border-[5px] border-[white]">
                <div class="h-full w-full flex  flex-col justify-center p-10 absolute top-0 right-0 bottom-0 left-0 bg-[#0000006e] hover:bg-gradient-to-l from-[#a456f70a]  to-[#ff009041]">
                    <h3 class="text-[20px] font-semibold text-white">Established Day 2019</h3>
                    <div class="absolute bottom-0 left-0 bg-[#abb618] p-2">14th Sep 2021</div>
                </div>
            </div>
        </div>
    </div>

</div>