{% load static %}

{% get_media_prefix as MEDIA_PREFIX %}
<div class="flex flex-row justify-evenly px-10 py-[20px] bg-[#002147] text-white">
    <div>
        <ul class='leading-[30px]'>
            <li><i class="fas fa-arrow-circle-right"></i> Administration</li>
            <li><i class="fas fa-arrow-circle-right"></i> Our Campus</li>
            <li><i class="fas fa-arrow-circle-right"></i> Cafeteria</li>
            <li><i class="fas fa-arrow-circle-right"></i> Our Teachers</li>
            <li><i class="fas fa-arrow-circle-right"></i> Academic Calender</li>
            <li><i class="fas fa-arrow-circle-right"></i> Contact Us</li>
            <li><i class="fas fa-arrow-circle-right"></i> History</li>
        </ul>
    </div>
    <div>
        <ul class='leading-[30px]'>
            <li><i class="fas fa-arrow-circle-right"></i> Admissions</li>
            <li><i class="fas fa-arrow-circle-right"></i> Schools</li>
            <li><i class="fas fa-arrow-circle-right"></i> Events</li>
            <li><i class="fas fa-arrow-circle-right"></i> News</li>
            <li><i class="fas fa-arrow-circle-right"></i> Application FAQ</li>
            <li><i class="fas fa-arrow-circle-right"></i> Media</li>
            <li><i class="fas fa-arrow-circle-right"></i> Alumni</li>
        </ul>
    </div>
    <div>
        <ul class='leading-[30px]'>
            <li><i class="fas fa-arrow-circle-right"></i> Academic Calender</li>
            <li><i class="fas fa-arrow-circle-right"></i> Research</li>
            <li><i class="fas fa-arrow-circle-right"></i> Timetable</li>
            <li><i class="fas fa-arrow-circle-right"></i> News list</li>
            <li><i class="fas fa-arrow-circle-right"></i> Event list</li>
            
        </ul>
    </div>
    <div class='flex flex-col items-center'>
        <img height="100" width="100" src="{{MEDIA_PREFIX}}media/logo.png" alt="logo">
        <div class="m-[5px]">
        <p><i class="fas fa-phone-square-alt"></i> +91 98-7654-321 , +91 87-649-7202</p>
        <p><i class="fas fa-envelope-square"></i> saintjohnschool@rediffmail.com</p>
        <p><i class="fas fa-clock"></i> Mon — Sat: 8AM — 2PM</p>
        <p><i class="fas fa-address-card"></i> Raio, Udaipur, Gomati Tripura - 799114</p>
        </div>
    </div>
</div>
<div class="bg-[#002147] text-center text-white p-10">
    <p>Copyright © St. John High School Built by TechAbide. All rights reserved</p>
</div>