<div class="flex flex-row justify-evenly w-full bg-[#E5E7EB] p-10">
    <div class="p-[10px] bg-[#eeff8f] w-[50%]">
        <h3 class="text-center text-[24px] py-[10px]">Principal's Message</h3>
        <p>Dear parents, students and well-wishers,</p>
        <p>Welcome to Saint John’s High School website. As principal, I am impressed by your courtesy to go through our
            school website. Please remember, we, the management and the staff, are all set for an excellent all-round
            education of our beloved students at any cost.</p>
        <p>Under my leadership, with my dedicated management, staffs, together with parents, strongly promote academic
            achievement among our students. We make special effort and emphasis on co-curricular/extra-curricular
            activities to identify students’ capabilities according to their talents.</p>
        <p>In-fact, school is the second home of our students and teachers are the second parents (Gurus). With this
            strong bond of love for the students and responsibility towards them, we leave “No Stone Unturned” to
            provide excellent inclusive education and impart proper moral discipline.</p>
        <p>We have NO any distinction among the students based on gender, caste, creed, ethnicity and religion etc but
            to treat them as the treasure and hope of future India. With a long and rewarding history of achievement in
            education, sports and culture behind us, our school continues to move forward with confidence, pride and
            enthusiasm.</p>
        <p>I hope you enjoy your visit to our school website</p>
        <p class="text-right">Yours in educational service<br />
            (Kulandai Swami)</br>
            Principal</br>
            Saint John’s High School</br>
            Udaipur, Gomati Tripura.</p>
    </div>
    <div class="p-[10px] bg-[#71d7df] w-[50%]">
        <h3 class="text-[24px] text-center py-[10px]">
            Notice Board
           
        </h3>
        <h3 class='text-[18px] text-semibold'>Office Hours</h3>
        <p>Principal's Office: 08:00am to 10:00am</br>
            School Office: 08:00am to 10:00am</br>
            11:00am - 12 Noon</p>
        <h3 class='text-[18px] text-semibold'>Office Hours</h3>
        <p>Nursery, KG.I, KG.II, Class-I, II, III & IV: 7:00am to 10:15am</p>

        <div class="my-10 px-10 py-5 bg-gray-200">
            <h3 class="text-[18px] font-semibold text-black pb-5  flex flex-row justify-between">
                <p class="uppercase">Latest Notice</p> 
                <p class="text-right text-[14px]">View all</p>
            </h3>
            
            <ul class="leading-[30px]">
                <li class="cursor-pointer"><i class="fas fa-chevron-right"></i> Reopening School Date and Important Notes</li>
                <li class="cursor-pointer"><i class="fas fa-chevron-right"></i> Reopening School Date and Important Notes</li>
                <li class="cursor-pointer"><i class="fas fa-chevron-right"></i> Reopening School Date and Important Notes</li>
                <li class="cursor-pointer"><i class="fas fa-chevron-right"></i> Reopening School Date and Important Notes</li>
                <li class="cursor-pointer"><i class="fas fa-chevron-right"></i> Reopening School Date and Important Notes</li>
                <li class="cursor-pointer"><i class="fas fa-chevron-right"></i> Reopening School Date and Important Notes</li>
                <li class="cursor-pointer"><i class="fas fa-chevron-right"></i> Reopening School Date and Important Notes</li>
            
            </ul>
        </div>
    </div>

</div>