@tailwind base;
@tailwind components;
@tailwind utilities;

.underline_animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
    
}

.underline_animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #1f5355;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.underline_animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  
}

table {
    counter-reset: rowNumber - 1;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    /* min-width: 1em;
    margin-right: 0.5em; */
}