{% extends "../base.html"%}
{% load static %}


{% block content %}
{% get_media_prefix as MEDIA_PREFIX %}
<!-- Hero Section -->
<div class="relative bg-[url('../../media/media/hero.png')] h-[80vh] bg-cover">
    <div class="absolute h-full w-full bg-blackOverlay  top-0 right-0 bottom-0 left-0 bg-[#00000071]">
        <div class="absolute top-[30%] left-[5%] sm:w-[500px] w-[90%]">
            <div class="bg-[#ffffffa1] text-[#064E3B] leading-[35px] px-[20px] py-[10px]">
                <p class="text-[20px] font-semibold">Welcome To</p>
                <h2 class="text-[38px] font-bold">St. John High School</h2>
                <p class="">"I am the light of the world" Jn. 8:12</p>
            </div>
            <div class="bg-[#ffffffa1] text-[#064E3B] leading-[35px] px-[20px] py-[10px] mt-[20px]">
                <p class="text-[20px] font-semibold">Affiliated to CBSE(English Medium) ESTD.: 1988</p>
            </div>
            <div class="bg-[#99a30e] text-[#000000] w-[190px] leading-[35px] px-[20px] py-[10px] mt-[20px]">
                <p class="text-[20px] font-semibold">Explore More <i class="fas fa-arrow-right font-normal"></i></p>
            </div>
        </div>
    </div>
</div>

<!-- Hero Section End -->


<!-- Counter Section -->
<div class="bg-[#E5E7EB] flex flex-row flex-wrap  justify-evenly px-[5%] py-[5%] gap-5 cursor-pointer">
    <div class="h-[150px] w-[100%] sm:w-[280px]  bg-white">
        <div class="flex flex-row h-full items-center w-full transiion-all ease-in-out duration-500 justify-between m-[5px] hover:bg-[#FFFF] hover:shadow-2xl p-10">
            
            <div class=" flex flex-col h-full w-full items-start justify-between">
                <h3 class="text-2xl font-semibold">STUDENTS</h3>
                <p>Total Students</p>
            </div>
            <div class="text-[34px] font-bold">950</div>

        </div>
    </div>
    <div class="h-[150px] w-[100%] sm:w-[280px]  bg-white">
        <div class="flex flex-row h-full items-center w-full transiion-all ease-in-out duration-500 justify-between m-[5px] hover:bg-[#FFFF] hover:shadow-2xl p-10">
            <div class="flex flex-col h-full w-full items-start justify-between">
                <h3 class="text-2xl font-semibold">TEACHERS</h3>
                <p>Total Teachers</p>
            </div>
            <div class="text-[34px] font-bold">35</div>

        </div>
    </div>
    <div class="h-[150px] w-[100%] sm:w-[280px] bg-white">
        <div class="flex flex-row h-full items-center w-full transiion-all ease-in-out duration-500 justify-between m-[5px] hover:bg-[#FFFF] hover:shadow-2xl p-10">
            <div class="flex flex-col h-full w-full items-start justify-between">
                <h3 class="text-2xl font-semibold">STAFF</h3>
                <p>Total Staff</p>
            </div>
            <div class="text-[34px] font-bold">10</div>

        </div>
    </div>
    <div class="h-[150px] w-[100%] sm:w-[280px]  bg-white">
        <div class="flex flex-row h-full items-center w-full transiion-all ease-in-out duration-500 justify-between m-[5px] hover:bg-[#FFFF] hover:shadow-2xl p-10">
            <div class="flex flex-col h-full w-full items-start justify-between">
                <h3 class="text-2xl font-semibold">PARENTS</h3>
                <p>Total Parents</p>
            </div>
            <div class="text-[34px] font-bold">210</div>

        </div>
    </div>

</div>
<!-- Counter end -->

{% include "templates/Frontend/HomeComponents/events.html" %}
{% include "templates/Frontend/HomeComponents/about.html" %}
{% include "templates/Frontend/HomeComponents/notice.html" %}

<div class="text-center p-10">
    <h2 class="text-[34px] font-bold">St. John's High School</h2>
    <p>Raio, P.O - Raiya Bari, PS - Killa, Udaipur, Gomati Tripura - 799114</br>
        +91 9876554321</br>
        saintjohnschool@rediffmail.com</p>
</div>



{% endblock %}