{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<div class="hidden sm:flex flex-row justify-between bg-white  px-[40px] z-20 sticky top-0">
    <div x-data="{}" class="w-[50px] h-[50px]">
        <img class="cursor-pointer" id="logo" height="" width="" src="{{MEDIA_PREFIX}}media/logo.png" alt="logo">
    </div>
    <ul class="flex flex-row gap-5 items-center font-semibold">
        <li class="cursor-pointer underline_animation"><a href="{% url 'about' %}">About</a></li>
        <li class="cursor-pointer underline_animation">Academics</li>
        <li class="cursor-pointer underline_animation">Staff</li>
        <li class="cursor-pointer underline_animation"><a href="{% url 'student_table' %}">Students</a></li>
        <li class="cursor-pointer underline_animation">Admissions</li>
        <li x-data="{open:false}" class="cursor-pointer   overflow-hidden">
            <div @mouseenter="open =! open" @click="open =! open" id="menu-btn" class="underline_animation">More</div>
            <div x-show="open" @click.outside="open = false" id="dropdown"
                class="bg-white flex  flex-col absolute z-10 rounded top-[41px] h-auto right-[120px] mt-2 p-2 text-sm w-auto shadow-lg ">
                <a class="mx-2 py-1 underline_animation  rounded" href="{% url 'important_docs' %}">Important Docs</a>
                <a class="mx-2 py-1 underline_animation  rounded" href="{% url 'calender_holidays' %}">Calender &
                    Holidays</a>
                <a class="mx-2 py-1 underline_animation  rounded" href="#">Fee Structure</a>
            </div>
        </li>
        {% if user.is_authenticated %}
        <div x-data="{open: false}">
            <div @mouseenter="open =! open" @click="open =! open" class='flex flex-row items-center justify-evenly cursor-pointer ease-in-out duration-300 shadow-lg bg-[#002147] text-white hover:text-[#1c2327] hover:bg-white rounded-[50px] w-[75px] py-2'>
                <i class="far fa-user-circle text-2xl"></i> <i class="fas fa-bars text-[20px] "></i></div>
            <div x-show="open" @click.outside="open = false" class="bg-white flex  flex-col  absolute z-10 rounded top-[41px] h-40 right-[25px] mt-2 p-2 text-sm w-auto shadow-lg">
                <a class="mx-2 py-1 underline_animation  rounded" href="#">Profile</a>
                <a class="mx-2 py-1 underline_animation  rounded" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="mx-2 py-1 underline_animation  rounded" href="#">Result</a>
                <a class="mx-2 py-1 underline_animation  rounded" href="#">Materials</a>
                <a class="mx-2 py-1 underline_animation  rounded" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        {% else %}

        <a href="{% url 'login' %}">
            <div
                class='flex flex-row items-center justify-evenly cursor-pointer ease-in-out duration-300  shadow-lg bg-[#002147] text-white hover:text-[#1c2327] hover:bg-white rounded-[50px] gap-2 p-2'>
                <i class="far fa-user-circle text-3xl"></i> Login</div>
        </a>

        {% endif %}
    </ul>

</div>

<!-- Mobile Menu -->
<div class="z-[100] sm:hidden block fixed text-[#3c48b1] text-[30px] top-[10px] right-[20px]">
    <i class="fas fa-bars"></i>
</div>

<div class="z-[100] sm:hidden  block absolute text-white text-[25px] top-[10px] left-[20px]">
    <img width="70" height="70" src="http://127.0.0.1:8000/media/media/logo.png" alt="">
</div>
<script>
    window.addEventListener('DOMContentLoaded', () => {
      
        const logo = document.querySelector('#logo');
        logo.addEventListener('click', () => {
            window.location.href = '/'
        })

    })
</script>