{% extends '../backend_base.html' %}
{% load static %}

{% block content %}

<div x-data="{openTab : 1}" class="">

    <ul class='flex flex-row flex-wrap justify-between nowrap font-semibold  bg-[#494dbb] text-white'>
        <li @click="openTab = 1" :class="openTab === 1 ? 'text-gray-500 bg-white' : '' "
            class="px-5 py-2 cursor-pointer transition-all ease-in-out duration-300">
            <p>Personal Details</p>
        </li>

        <li @click="openTab = 2" :class="openTab === 2 ? 'text-gray-500 bg-white' : '' "
            class="px-5 py-2 cursor-pointer transition-all ease-in-out duration-300">
            <p>Contact Details</p>
        </li>
        <li @click="openTab = 3" :class="openTab === 3 ? 'text-gray-500 bg-white' : '' "
            class="px-5 py-2 cursor-pointer transition-all ease-in-out duration-300">
            <p>Academic Details</p>
        </li>
        <li @click="openTab = 4" :class="openTab === 4 ? 'text-gray-500 bg-white' : '' "
            class="px-5 py-2 cursor-pointer transition-all ease-in-out duration-300">
            <p>Other Facilities</p>
        </li>
        <li @click="openTab = 5" :class="openTab === 5 ? 'text-gray-500 bg-white' : '' "
            class="px-5 py-2 cursor-pointer transition-all ease-in-out duration-300">
            <p>Login Credentials</p>
        </li>
    </ul>
    <!-- Personal Details -->
    <div x-show="openTab === 1" x-transition.duration.200ms class="">
        <div class="bg-white pt-10 md:px-[100px] px-[20px]">
            <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly">
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">First Name</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                        placeholder="i.e: Nikhilesh">
                </div>
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Last Name</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                        placeholder="i.e: Debbarma">
                </div>
            </div>


            <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly">
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap" for="">Middle Name</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                        placeholder="Middle name">
                </div>
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%]">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Date of Birth</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="date"
                        placeholder="mm/dd/yyyy">
                </div>
            </div>


            <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly">
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Gender</label>
                    <div class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200">

                        <div class="flex items-center mr-4 mb-4">
                            <input id="male" type="radio" name="radio" class="hidden" />
                            <label for="male" class="flex items-center cursor-pointer">
                                <span
                                    class="w-4 h-4 inline-block mr-2 rounded-full border border-grey flex-no-shrink"></span>
                                Male</label>
                        </div>

                        <div class="flex items-center mr-4 mb-4">
                            <input id="female" type="radio" name="radio" class="hidden" />
                            <label for="female" class="flex items-center cursor-pointer">
                                <span
                                    class="w-4 h-4 inline-block mr-2 rounded-full border border-grey flex-no-shrink"></span>
                                Female</label>
                        </div>

                        <div class="flex items-center mr-4 mb-4">
                            <input id="others" type="radio" name="radio" class="hidden" />
                            <label for="others" class="flex items-center cursor-pointer">
                                <span
                                    class="w-4 h-4 inline-block mr-2 rounded-full border border-grey flex-no-shrink"></span>
                                Others</label>
                        </div>
                    </div>

                </div>

                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%]">
                    <label class="px-2 py-1 whitespace-nowrap" for="">Religion</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                        placeholder="i.e Christian">
                </div>

            </div>



            <div class="w-full  flex flex-wrap md:justify-between lg:justify-evenly">
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap py-2 px-2  md:w-[50%] w-[100%]">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Blood Group</label>
                    <input class="px-2 py-1 md:w-[60%] w=[100%] border focus:outline-gray-200" type=" text"
                        placeholder="i.e AB+">
                </div>
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap py-2 px-2  md:w-[50%] w-[100%]">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Caste</label>
                    <input class="px-2 py-1 md:w-[60%] w=[100%] border focus:outline-gray-200" type="text"
                        placeholder="i.e ST">
                </div>
            </div>

            <div class="w-full  flex flex-wrap md:justify-between lg:justify-evenly">
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap py-2 px-2  md:w-[50%] w-[100%]">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Aadhar No.</label>
                    <input class="px-2 py-1 md:w-[60%] w=[100%] border focus:outline-gray-200" type=" text"
                        placeholder="xxxx-xxxx-xxxx-xxxx">
                </div>
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap py-2 px-2  md:w-[50%] w-[100%]">
                    <label class="px-2 py-1 whitespace-nowrap float-right" for="">Phone No.</label>
                    <input id="phone" class="px-2 py-1 w-[100%] border focus:outline-gray-200" type="tel"
                        placeholder="8787 XXX XXX">
                </div>
            </div>

            <div class="bg-white w-full flex justify-center py-10">
                <button class="px-4 py-2 text-white font-semibold shadow-lg bg-blue-500">Save & Next</button>
            </div>
            <div class="h-full w-full bg-white text-center py-2 px-4">
                <ul class="">
                    <li>All fields marked <span class="required"></span> are required</li>
                </ul>
            </div>

        </div>


    </div>

    <!-- End Of Personal Details -->






    <!-- Start of Contact Details -->
    <div x-data="{isDisabled: false}" x-show="openTab === 2" x-transition.duration.200ms class="">

        <div class="bg-white pt-10 md:px-[100px] px-[20px]">

            <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Father's Name</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                        placeholder="i.e: Father's full name">
                </div>
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Mother's Name</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                        placeholder="i.e: Mother's full name">
                </div>
            </div>

            <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap required " for="">Phone No1.</label>
                    <input id="phone1" class="px-2 py-1  w-[100%]  border focus:outline-gray-200" type="tel"
                        placeholder="i.e: XXX-XXX-XXXX">
                </div>
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap " for="">Phone No2.</label>
                    <input id="phone2" class="px-2 py-1   w-[100%]  border focus:outline-gray-200" type="tel"
                        placeholder="i.e:  XXX-XXX-XXXX">
                </div>
            </div>

            <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Father's Occupation</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                        placeholder="i.e: Govt. Job">
                </div>
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap" for="">Mother's Occupation.</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                        placeholder="i.e:  XXX-XXX-XXXX">
                </div>
            </div>

            <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap required" for="">Email</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                        placeholder="i.e: example@gmail.com">
                </div>
                <div
                    class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                    <label class="px-2 py-1 whitespace-nowrap" for="">Annual Family Income</label>
                    <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                        placeholder="i.e:  XXXXX">
                </div>
            </div>


            <div class="border-2">
                <h3 class="font-bold px-2 py-2 required">Present Address :</h3>
                <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap required" for="">Country</label>
                        <select id="country"
                            class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200 bg-white">
                            <option selected>Choose Country</option>
                        </select>
                    </div>

                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap required" for="">State</label>
                        <select id="state" class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200"
                            >
                            <option selected>Select state</option>
                        </select>
                    </div>

                </div>
                <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">
                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap" for="">City</label>
                        <select id="city" class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200">
                            <option>Select City</option>
                        </select>
                    </div>


                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap" for="">District</label>
                        <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                            placeholder="">
                    </div>
                </div>
                <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap required" for="">Pin</label>
                        <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                            placeholder="i.e: 799XXX">
                    </div>
                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap" for="">House No.</label>
                        <input class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                            placeholder="i.e:  XXXXX">
                    </div>
                </div>



                <div class="flex flex-col justify-start">
                    <h3 class="font-bold px-2 py-2 required">Permanent Address:</h3>
                    <div class="flex justify-start w-[100%] px-10 items-center">
                        <div class="form-check form-switch">
                            <label class="form-check-label required inline-block text-gray-800 w-[80%] font-semibold"
                                for="flexSwitchCheckChecked">Check if permanent address is same as present
                                address.</label>
                            <input
                                class="form-check-input appearance-none w-9  rounded-full float-right h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm"
                                type="checkbox" role="switch" id="flexSwitchCheckChecked" x-bind:checked="isDisabled"
                                @click="isDisabled = ! isDisabled">
                        </div>
                    </div>
                </div>
                <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap required" for="">Country</label>
                        <input x-bind:disabled="isDisabled"
                            class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                            placeholder="i.e: example@gmail.com">
                    </div>
                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap" for="">City</label>
                        <input x-bind:disabled="isDisabled"
                            class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                            placeholder="i.e:  XXXXX">
                    </div>
                </div>
                <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap required" for="">State</label>
                        <input x-bind:disabled="isDisabled"
                            class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                            placeholder="i.e: example@gmail.com">
                    </div>
                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap" for="">District</label>
                        <input x-bind:disabled="isDisabled"
                            class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                            placeholder="i.e:  XXXXX">
                    </div>
                </div>
                <div class="w-full flex flex-wrap md:justify-between lg:justify-evenly ">

                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap required" for="">Pin</label>
                        <input x-bind:disabled="isDisabled"
                            class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type=" text"
                            placeholder="i.e: example@gmail.com">
                    </div>
                    <div
                        class="flex flex-row items-center md:justify-end lg:justify-end flex-wrap  py-2 px-2 md:w-[50%] w-[100%] ">
                        <label class="px-2 py-1 whitespace-nowrap" for="">House No.</label>
                        <input x-bind:disabled="isDisabled"
                            class="px-2 py-1  md:w-[60%] w-[100%]  border focus:outline-gray-200" type="text"
                            placeholder="i.e:  XXXXX">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white w-full flex justify-center py-10 gap-5">
            <button id="buttonPrev" class="px-4 py-2 text-white font-semibold shadow-lg bg-blue-500">Save &
                Prev</button>
            <button class="px-4 py-2 text-white font-semibold shadow-lg bg-blue-500">Save & Next</button>
        </div>
    </div>

    <!-- End of contact details -->


    <!-- Start of Academic details -->
    <div x-show="openTab === 3" class="h-screen w-full bg-white">
        <div>Academic</div>
    </div>

</div>





{% endblock %}